@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playwrite+NZ:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

/* Variables for light and dark themes */
:root {
    --bg-color: white;
    --text-color: #604d4d;
    --main-color: #071d8e;
    --bg-color-dark: #1a1a1a;
    --text-color-dark: #e5e5e5;
}

body.dark {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
}

/* Header styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background: var(--bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 10px 12%;
    transition: all 0.50s ease;
}

.navbar {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding: 5px 0;
    margin: 15px 30px 0px;
    transition: all 0.50s ease;
    font-weight: 500;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 0 30px;
    text-decoration: none;
}

.main a:hover,
.navbar a:hover {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 1.15rem;
    transition: all 0.50s ease-in-out;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -150px;
}

.main a {
    list-style: none;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: all 0.50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.home i,
.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.home i:hover,
.icon i:hover {
    text-decoration: underline;
}

.head {
    background-color: rgb(250, 245, 245);
    height: 10vh;
    width: 100%;
    font-size: 25px;
}

.logo {
    max-width: 300px;
    display: inline-block;
    margin-left: -150px;
    margin-top: -12px;
    transition: all 0.50s ease;
}

.logo-dark{
    mix-blend-mode: multiply;

}

/* Home Section */
main {
    padding-top: calc(2rem + 40px);
    /* Adjust this value based on the height of your header */
}

section {
    padding: 100px 20px;
    min-height: calc(100vh - 2rem - 40px);
    border: 1px solid rgb(212, 212, 212);
}

#section1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Home {
    width: 45vw;
    height: 85vh;
    background-color: rgba(250, 250, 250, 0.742);
    border-radius: 30px;
    border: 1px solid rgb(212, 212, 212);
    padding: 75px;
}

.myTask-section {
    padding: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.myTask-section .sec11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home .taskBox {
    margin: 30px;
    position: absolute;
    width: 40vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
}

.date-display {
    color: var(--main-color);
}

.calendar {
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.calendar table {
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
}

.calendar table>tbody>tr>td {
    color: black;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 50%;
}

.calendar table>tbody>tr>td:hover {
    background-color: #071d8e41;
    border-radius: 50%;
    transition: all 0.90s ease-out;
}

.calendar table>thead>tr>th {
    color: var(--main-color);
    font-weight: 900;
}

/* My Goals */
#section2,
#section3 {
    padding: 0 70px;
}

#section4 h2,
#section3 h2,
#section2 h2 {
    padding-top: 5px;
    margin-bottom: -5px;
    text-align: center;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 900;
    text-decoration: dashed;
}

.sec2 {
    padding: 15px;
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(250, 250, 250, 0.742);
    border-radius: 30px;
    border: 1px solid rgb(212, 212, 212);
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.sub-box {
    width: 25vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
}

/* section-3 completed Tasks */
.comp {
    background-color: rgba(181, 234, 181, 0.363);
}

.incomp {
    background-color: rgba(225, 169, 169, 0.347);
}

.upcom {
    background-color: rgba(208, 207, 117, 0.308);
}

/* section -4 */
#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.about {
    margin-top: -70px;
    width: 75vw;
    height: 55vh;
    background-color: rgba(250, 250, 250, 0.742);
    border-radius: 30px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about {
    text-align: center;
    padding-bottom: 70px;
}

.data img {
    position: relative;
    margin: 70px 30px 30px;
    width: auto;
    height: 50vh;
    border-radius: 50px;
}

.data {
    font-size: 22px;
    line-height: 2.5rem;
    font-style: italic;
    color: var(--main-color);
    list-style: none;
    padding-top: 50px;
}

.space {
    padding-top: calc(2rem + 40px);
}

#space-about {
    padding-top: 0;
}

#space-top {
    margin-top: -70px;
}

.calender {
    background-color: rgb(250, 245, 245);
    height: 100vh;
    width: 70%;
    /* margin-left:8%; */
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}


#calendarTitle {
    margin: 0 10px;
}

footer {
    height: 20vh;
    width: 100vw;
    background-color: var(--bg-color);
    margin-top: 10px;
    text-align: center;
    color: rgba(105, 105, 105, 0.63);
    font-size: 20px;
}



/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
;
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.theme-button {
    width: 3.5em;
    height: 2em;
    margin-top: 70px;
    margin-right: 100px;
}
/* Change the background color */
#prevMonth, #nextMonth {
    background-color: #4c77af; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 12px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer on hover */
}

/* Change hover effects */
#prevMonth:hover, #nextMonth:hover {
    background-color: #457da0; /* Darker shade of green on hover */
}
